body { background: #f0f0f0; }

#nav-top { margin-right: 10px; }

.post { border: 1px solid #e7e7e7; padding: 10px; margin-bottom: 10px; background-color: #f8f8f8; }

.vote-controls { margin-right: 10px; }
.vote-up { color: green; line-height: 36px !important; }
.vote-down { color: red; line-height: 36px !important; }

ul.comments { padding-left: 10px; }
ul.comments li { border: 1px solid #e7e7e7; background-color: #f8f8f8; margin-top: 10px; padding: 10px; }
ul.comments li small { color: #999; }

/* Utilities */
.inline-block { display: inline-block; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-left { text-align: left; }