<template name="postForm">
	<form class="form-vertical" role="form">
    <div class="form-group">
      <label for="url">URL</label>
      <input class="form-control" name="url" type="text" value="{{url}}" placeholder="www.thisisdog.com"/>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" name="title" type="text" value="{{title}}" placeholder="Hello, this is dog!" />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" name="message" type="text" value="{{message}}" placeholder="Woof woof!"></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-success"/>
    <a href="#" title="{{url}}" class="delete btn btn-danger pull-right"><i class="fa fa-trash-o">&nbsp;</i>Delete</a>
  </form>
</template>