<template name="postItem">
  <div class="row-fluid post">
    <div class="inline-block pull-left align-center vote-controls">
      <a href="#" class="btn btn-default btn-xs fa fa-chevron-up vote-up"></a>
      <span>{{votesCount}}</span>
      <a href="#" class="btn btn-default btn-xs fa fa-chevron-down vote-down"></a>
    </div>
    <div class="post-details">
      {{#if ownPost}}
        <a href="{{pathFor 'postEdit'}}" title="{{url}}" class="btn btn-default btn-sm pull-right post-edit"><i class="fa fa-pencil"></i></a>
      {{/if}}
      <a href="{{url}}" title="{{url}}" class="post-title" target="_blank">{{title}}</a>
      <div>
        <small>
          <span class="post-created-at">{{formatDate createdAt}}</span>
          by <span class="post-author">{{author}}</span>, 
          <span class="post-trackback">
            via <a href="http://{{trackback}}" target="_blank">{{trackback}}</a>
          </span>
          | <span class="post-comments">
              <a href="{{pathFor 'postShow'}}">{{commentsCount}} comments</a>
            </span>
        </small>
      </div>
    </div>
  </div>
</template>